In [19]:
import pandas as pd
import json

with open('Data/splits_emotion_recognition.json', 'r') as f:
    data = json.load(f)

# Flatten nested structures
df = pd.DataFrame(data["train"])

In [26]:
df["author"] = df["song_author"].apply(lambda x: x[0] if x else None)

In [ ]:
top5artists = df.groupby(["label", "author"]).count().sort_values(["label", "song_title"], ascending=[True, False]).groupby("label").head(5)

                                 spotify_track_id  song_title  emotion  \
label author
0     Beyoncé                                   3           3        3
      Cesare Cremonini                          3           3        3
      Thegiornalisti                            3           3        3
      Caparezza                                 2           2        2
      Danzante Banda Celta                      2           2        2
1     Jovanotti                                 4           4        4
      Coldplay                                  3           3        3
      Ligabue                                   3           3        3
      Lana Del Rey                              2           2        2
      Ludovico Einaudi                          2           2        2
2     Coldplay                                  3           3        3
      Pinguini Tattici Nucleari                 3           3        3
      Christina Aguilera                        2           2        2
      Elisa                                     2           2        2
      Fabrizio Moro                             2           2        2
3     Fabrizio Moro                             2           2        2
      John Williams                             2           2        2
      L'Elfo                                    2           2        2
      Linkin Park                               2           2        2
      Pink Floyd                                2           2        2

                                 session_type  subject_id  id  song_author
label author
0     Beyoncé                               3           3   3            3
      Cesare Cremonini                      3           3   3            3
      Thegiornalisti                        3           3   3            3
      Caparezza                             2           2   2            2
      Danzante Banda Celta                  2           2   2            2
1     Jovanotti                             4           4   4            4
      Coldplay                              3           3   3            3
      Ligabue                               3           3   3            3
      Lana Del Rey                          2           2   2            2
      Ludovico Einaudi                      2           2   2            2
2     Coldplay                              3           3   3            3
      Pinguini Tattici Nucleari             3           3   3            3
      Christina Aguilera                    2           2   2            2
      Elisa                                 2           2   2            2
      Fabrizio Moro                         2           2   2            2
3     Fabrizio Moro                         2           2   2            2
      John Williams                         2           2   2            2
      L'Elfo                                2           2   2            2
      Linkin Park                           2           2   2            2
      Pink Floyd                            2           2   2            2